@import '../../Sass/mixin';

.dropdownHolder {
  select {
    @include searchSize();
    height: 48px;
    width: 310px;
    background-color: white;
  }
}

@media(max-width: 390px) {
  .dropdownHolder {
    select {
      @include mediaSearchSize();
      height: 33px;
      width: 130px;
      background-color: white;
    }
  }
}