.jumpModalHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jumpNumberHolder {
  height: 10vh;
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumpNumberHolder .jumpNumber {
  font-weight: 700;
  font-size: 40px;
  color: #0C6291;
  border-bottom: 1px solid #0C6291;
  display: inline;
}

.jumpModalDetailsHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54vh;
  width: 75vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.jumpModalInfoHolder {
  width: 37vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 12px;
}

.jumpModalInfo, .jumpModalInfoDetails {
  width: 37vw;
  height: 5vh;
}

.jumpModalInfoDetails {
  height: 10vh;
  margin-right: 5px;
}

.jumpModalImage {
  height: 40vh;
  width: 38vw;
}

.jumpModalInput {
  width: 37vw;
  height: 5vh;
}

.jumpModalInput input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}

.jumpModalInputDetails {
  width: 37vw;
  height: 5vh;
}

.jumpModalInputDetails input {
  width: 32vw;
  height: 5vh;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}

.jumpModalFunctionButtons {
  height: 2vh;
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newJumpModalButtons {
  width: 500px;
}

.jumpModalButton {
  background-color: #0C6291;
  color: white;
  border-style: solid;
  border-color: black;
  -webkit-box-shadow: 0 5px 2px -2px #5e5d5d;
          box-shadow: 0 5px 2px -2px #5e5d5d;
}

.jumpModalButtonDisgard {
  background-color: #0C6291;
  color: white;
  border-style: solid;
  border-color: black;
  -webkit-box-shadow: 0 5px 2px -2px #5e5d5d;
          box-shadow: 0 5px 2px -2px #5e5d5d;
  margin-left: 250px;
}
/*# sourceMappingURL=JumpModal.css.map */