@import '../../Sass/mixin';
@import '../../Sass/variables';

.amazonDrop, .dropzoneAddPhoto {
  @include modalSize(15vh);
  @include flexOptionOne(center);
}

.dropzoneAddPhoto {
  @include borderOne();
  background-color: $mainBlueColor;
  color: white;
}

.dropzoneAddPhotoHolder {
  @include modalSize(4vh);
  margin-top: 15px;
  @include flexOptionOne(center);
}

 .dropzonePhotoHolder {
  @include modalSize(30vh);
}

.amazonImageHolder {
  @include modalSize(15vh)
}

.amazonHoldImage {
  @include flexOptionOne(center);
  @include modalSize(15vh);
}

.amazonImage {
  height: 160px;
  width: 160px;
}

.amazonDropHolder {
   @include modalSize(25vh);
   @include flexOptionOne(center);
   flex-direction: column;
}

.amazonDropzoneButtonHolder {
  @include modalSize(2vh);
  @include flexOptionOne(center);
  margin-top: 15px;
}

.submitPhoto {
  @include buttons();
}