@import '../../Sass/variables';
@import '../../Sass/mixin';

.logbookHolder {
  background-color: $mainBackground;
  height: 90vh;
  width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
}

.logbookFunctionalityHolder {
  height: 25vh;
  width: 100vw;
  @include flexOptionOne(space-evenly);
}

.logbookSearchHolder {
  @include flexOptionOne(center);
}

.logbookSearch {
  @include searchSize();
}

.logbookJumpHolder {
  margin-top: 100px;
  height: 40vh;
  width: 100vw;
  @include flexOptionOne(center);
  flex-wrap: wrap;
}

@media(max-width: 390px) {
  .logbookSearch {
    @include mediaSearchSize();
  }
}