@import '../../Sass/variables';
@import '../../Sass/mixin';

.accountHolder {
  height: 90vh;
  width: 100vw;
  @include flexOptionOne(center);
  min-height: 100vh;
  padding-top: 50px;
}

.accountForm {
  width: 33vw;
  height: 80vh;
  @include flexOptionOne(none);
  flex-direction: column;
  background-color: #FFF8F3;
  border-radius: 10%;
  @include borderOne();
}

.accountInfo {
  color: $mainBlueColor;
}

.accountProfilePicture {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  @include borderOne();
}

.accountDetailsHolder {
  margin-top: 130px;
}

.accountDetails {
  height: 10vh;
  margin-top: 30px;
  @include flexOptionOne(center);
  flex-direction: column;
}

// .accountButtons {
//   @include buttons();
// }