@import '../../Sass//mixin';

.uspaHolder {
  height: 90vh;
  width: 100vw;
  min-height: 100vh;
  padding-top: 100px;
  @include flexOptionOne(center);
}

.uspaCardHolder {
  background-image: url('./uspacard.png');  
  background-size: 1150px 660px;
  height: 80vh;
  width: 80vw;
  @include borderOne();
  border-radius: 20px; 
  h1 {
    font-size: 50px;
  }
}

.uspacard {
  @include flexOptionOne(none);
  width: 80vw;
}

.leftSide {
  width: 50vw;
  margin-top: 130px;
}

.props, .propsAward {
  margin: 10px;
  margin-left: 130px;
}

.propsAward {
  margin-top: 33px;
}

.rightSide {
  height: 200px;
}

