@import '../../Sass/mixin';
@import '../../Sass/variables';

.mainDzDetails, .modalTwoDzNameHolder {
  @include modalSize(10vh);
  @include flexOptionOne(center);
}

.signInNotificationHolder {
  @include modalSize(70vh);
  @include flexOptionOne(center);
  flex-direction: column;
}

.dashAddDzHolder {
  cursor: pointer;
}

.modalTwoDzNameHolder, .dzJumpDetail {
  input {
    @include inputStyles();
  }
}

.addDzForm {
  @include flexOptionOne(center);
  flex-direction: column;
}

.dzJumpDetailsHolder {
  @include modalSize(15vh);
  margin-top: 250px;
}

.dzJumpDetail {
  @include modalSize(10vh);
  @include flexOptionOne(space-evenly);
}

.addModalCreateButton {
  @include modalSize(1vh);
  @include flexOptionOne(center);
  button {
    @include buttons();
  }
}

@media(max-width: 390px) {
  .dashAddDzHolder {
    height: 70px;
    width: 140px;
    @include flexOptionOne(center);
    h1 {
      font-size: 20px;
      margin: 20px;
    }
  }
}