@import '../../Sass/mixin';

.dropzoneHolder {
  height: 33vh;
  width: 13vw;
  background-color: #ceeaf7;
  @include borderOne();
  @include flexOptionOne(none);
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
  padding: 5px;
}

.dropzoneName {
  margin: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
  @include flexWrap()
}

.dropzoneState {
  margin: 0px;
  margin-bottom: 10px;
  @include flexWrap()
}

.dropzoneImage {
  height: 130px;
  width: 13vw;
  @include borderOne();
}

.dropzoneStarComp {
  margin: 25px;
}

@media(max-width: 390px) {
  .dropzoneHolder {
    height: 33vh;
    width: 40vw;
  }
  .dropzoneImage {
    width: 38vw;
  }
}