.dashboardHolder {
  background-color: #F5E8CC;
  height: 90vh;
  width: 100vw;
  min-height: 100vh;
  padding-top: 100px;
}

.dashHeaderHolder {
  height: 25vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashSearchHolder {
  height: 20vh;
  width: 24vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashSearchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashSearch {
  height: 40px;
  width: 300px;
  border: 3px solid black;
  border-radius: 5px;
  width: 310px;
  height: 48px;
}

.dashChecksHolder {
  height: 20vh;
  width: 24vw;
  padding: 10px;
  border-style: solid;
  border-color: black;
  -webkit-box-shadow: 0 5px 2px -2px #5e5d5d;
          box-shadow: 0 5px 2px -2px #5e5d5d;
  background-color: white;
  border-radius: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashChecksHolder .checkBoxInputs {
  margin-right: 15px;
  margin-bottom: 10px;
}

.dashAddDzHolder {
  height: 20vh;
  width: 24vw;
  border-style: solid;
  border-color: black;
  -webkit-box-shadow: 0 5px 2px -2px #5e5d5d;
          box-shadow: 0 5px 2px -2px #5e5d5d;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashDropzoneHolder {
  margin-top: 100px;
  height: 40vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 390px) {
  .dashSearchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dashSearchBar .dashSearch {
    height: 25px;
    width: 120px;
    border: 3px solid black;
    border-radius: 5px;
  }
}
/*# sourceMappingURL=Dashboard.css.map */