@import '../../Sass/mixin';
@import '../../Sass/variables';

.dashboardHolder {
  background-color: $mainBackground;
  height: 90vh;
  width: 100vw;
  min-height: 100vh;
  padding-top: 100px;
}

.dashHeaderHolder {
  height: 25vh;
  width: 100vw;
  @include flexOptionOne(space-evenly);
}

.dashSearchHolder {
  height: 20vh;
  width: 24vw;
  @include flexOptionOne(space-evenly);  
  flex-direction: column;
}

.dashSearchBar {
  @include flexOptionOne(center);
}

.dashSearch {
  @include searchSize();
  // background: url(https://img.icons8.com/cotton/2x/search--v2.png) no-repeat 1px 1px ;
}

.dashChecksHolder {
  height: 20vh;
  width: 24vw;
  padding: 10px;
  @include borderOne();
  background-color: white;
  border-radius: 10px;
  flex-wrap: wrap;
  @include flexOptionOne(center);
  .checkBoxInputs {
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

.dashAddDzHolder {
  height: 20vh;
  width: 24vw;
  @include borderOne();
  background-color: white;
  border-radius: 10px;
  @include flexOptionOne(center);
}

.dashDropzoneHolder {
  margin-top: 100px;
  height: 40vh;
  width: 100vw;
  @include flexOptionOne(center);
  flex-wrap: wrap;
}

@media(max-width: 390px) {
  .dashSearchBar {
    @include flexOptionOne(center);
  .dashSearch {
    @include mediaSearchSize();
  }    
  }
}

