@import '../../Sass/mixin';

.jumpsHolder {
  height: 33vh;
  width: 13vw;
  background-color: white;
  @include borderOne();
  @include flexOptionOne(none);
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
  padding: 5px;
}

.jumpNumber {
  margin: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
  @include flexWrap();
  @include flexOptionOne(center);
  flex-direction: column;
}

.jumpDropzone {
  margin: 0px;
  margin-bottom: 10px;
  @include flexWrap();
  @include flexOptionOne(center);
  flex-direction: column;
  margin-bottom: 15px;
}

.jumpImg {
  height: 130px;
  width: 13vw;
}

@media(max-width: 390px) {
  .jumpsHolder {
    height: 33vh;
    width: 40vw;
  }
  .jumpImg {
    width: 38vw;
  }
}