@import '../../Sass//mixin';
@import '../../Sass/variables';

.loginHolder {
  @include flexOptionOne(center);
  background-color: $mainBackground;
  height: 100vh;
  width: 100vw;
}

.loginFormHolder {
width: 34vw;
height: 100vh;
@include flexOptionOne(center);
flex-direction: column;
}

.loginForm {
  width: 33vw;
  height: 80vh;
  @include flexOptionOne(center);
  flex-direction: column;
  background-color: #FFF8F3;
  border-radius: 10%;
  @include borderOne()
}

.loginInputs {
  @include flexOptionOne(center);
  flex-direction: column;
  input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    background-color: #FFF8F3;
  }
}