@import '../../Sass//mixin';
@import '../../Sass/variables';

.loginHolder {
  @include flexOptionOne(center);
  @include loginRegForm();
}

.loginFormHolder {
width: 34vw;
height: 100vh;
@include flexOptionOne(center);
flex-direction: column;
}

.loginForm {
  width: 33vw;
  height: 80vh;
  @include flexOptionOne(space-evenly);
  flex-direction: column;
  background-color: #FFF8F3;
  border-radius: 10%;
  @include borderOne()
}

.loginLink {
  width: 34vw;
  height: 20vh;
  @include flexOptionOne(flex-end);
  margin-right: 50px;
}

.loginButton {
  background-color: $mainBlueColor;
  color: white;
}

.formHolder {
  height: 45vh;
  width: 33vw;
}

.loginInputs {
  @include flexOptionOne(center);
  flex-direction: column;
  label {
    margin-top: 15px;
    font-weight: 600;
  }
  input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    background-color: #FFF8F3;
    width: 300px;
    margin-top: 15px;
  }
}

.loginInputErr {
  font-size: xx-small;
}

.loginButtonHolder {
  height: 10vh;
  width: 33vw;
  @include flexOptionOne(center);
}

.loginRegButton {
  @include buttons()
}

.loginRouter {
 text-decoration: none;
 font-weight: 600;
 color: $mainBlueColor;
}

@media(max-width: 390px) {
  .loginForm {
    width: 70vw;
  }

  .loginButton {
    position: relative;
    left: 80px;
  }

  .loginInputs {
    input {
      width: 45vw;
    }
  }

  .linkToReg {
    margin: 20px;
    @include flexOptionOne(center);
    margin-left: 40px
  }
}